*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krub", sans-serif;
}
body{
    background-image: url('billeder/baggrund.svg');
    background-size: cover; /* Dækker hele baggrunden */
    background-repeat: no-repeat; /* Forhindrer gentagelse af billedet */
    background-position: center center; /* Centrerer billedet */
}
header{
    background-color: #f6f4f0;
    position: sticky;
    top: 0;
    z-index: 10;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 115px;
    margin-right: 70px;
    height: 55px;
}
header nav a{
    text-decoration: none;
    color: #655e5e;
    font-size: 12.5px;
    font-weight: 500;
    padding-top: 13px;
}
header nav a:hover{
    color: rgb(149, 146, 145);
    text-decoration: underline;
    text-decoration-color:  rgb(149, 146, 145);
    text-decoration-thickness: 2px; /* Tykkelse på underline */
    text-underline-offset: 15px; /* Juster afstanden */
}
#hjerte{
    height: 15px;
    margin-top: 13px;
}
#hjerte:hover{
    cursor: pointer;
    transform: scale(1.2); /* Forstørrer billedet ved hover */
    transition: transform 0.2s ease; /* Tilføjer en glidende overgang */
}
#logo{
    height: 110px;
    margin-top: 20px;
}

footer{
    background-color: #f6f4f0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top:-5px;
}
footer p{
    font-size: 13px;
    line-height: 2;
    color: #655e5e;
}
footer a:hover{
    color: rgb(149, 146, 145);
    text-decoration: underline;
    text-decoration-color:  rgb(149, 146, 145);
    text-decoration-thickness: 2px; /* Tykkelse på underline */
    text-underline-offset: 6px; /* Juster afstanden */
}
footer h4{
    font-size: 15px;
    color: #655e5e;
    font-weight: 500;
}
#footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Justerer sektionerne til toppen */
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding: 20px;
}
#copyright{
    text-align: center;
}
footer a{
    color: #655e5e;
    text-decoration: none;
}
.tilbage{
    position: absolute;
    height: 50px;
    margin-left: 40px;
    margin-top: 30px;
}
.tilbage:hover{
    cursor: pointer;
    transform: scale(1.1); /* Forstørrer billedet ved hover */
    transition: transform 0.2s ease; /* Tilføjer en glidende overgang */
}
.udforsk{
    position: absolute;
    top: 1003px;
    left: 120px;
    z-index: 8;
    color:#f4f4f4;
    line-height: 1.5;
}
.udforsk h2{
    margin-bottom: 10px;
}
.udforsk a{
    font-size: 20px;
    text-decoration: none;
    color: #403a3adc;
    background-color: #fff;
    border-radius: 3px;
    display: flex; /* Tilføjer flexbox for at arrangere indholdet på linje */
    align-items: center; /* Centrerer indholdet lodret */
    justify-content: center; /* Centrerer indholdet vandret */
    padding: 10px;
}
.udforsk img{
    height: 17px;
    margin-left: 4px;
}
.udforsk a:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
