#share-your-styles{
    width: 100%;
    position: relative;
}

#share-your-styles img{
    width: 100%;
}

#intro{
    position: absolute; /* Placer sektionen ovenpå billedet */
    top: 30%;
    left: 50%;
    text-align: right;
    color: white;
    font-family: 'Krub', sans-serif;
    padding-right: 50px;
}

#intro h1{
    font-size: 45px;
    padding-bottom: 25px;
}

#intro p{
    font-size: 18px;
    line-height: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Præcis 3 kolonner */
    gap: 50px; /* Afstand mellem elementerne */
    max-width: 1100px;
    margin: auto; /* Centrerer grid-containeren */
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.grid{
    height: 460px;
    background-color: white;
    position: relative;
}
.card {
    height: 350px; /* Sæt højden til 500px */
}

.card img { /* Billedet skal fylde hele kortet */ /*men tjek lige om den skaæ være der når billederne er sat ind*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.opslagstekst{
    display: flex;
    color: #333;
    margin-left: 20px;
    margin-top: 10px;
}

.grid .hjerte {
    position: absolute; /* Placer hjertet ovenpå billedet */
    margin-left: 270px;
    width: 27px; /* Sæt bredden til 25px */
    height: 24px;
}
.hjerte:hover{
    cursor: pointer;
    transform: scale(1.2); /* Forstørrer billedet ved hover */
    transition: transform 0.2s ease; /* Tilføjer en glidende overgang */
}

