
#introupcycle{
    font-weight: 500;
    color: #403a3af6;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

#introupcycle h1{
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 80px;
}
#introupcycle p{
    font-size: 17px;
    line-height: 1.5;
}
.fotoalbum{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Gør layout responsivt */
    gap: 60px; /* Afstand mellem billeder */
    margin: 50px auto; /* Centrerer hele grid-containeren */
    max-width: 1100px; /* Begrænser bredden */
    width: 100%;
}
.foto {
    overflow: hidden; /* Sørger for at skjule overskydende billeddele */
    border-radius: 3px; /* Giver afrundede hjørner for et pænere look */
}
.foto img{
    width: 100%;
    height: 500px; /* Justér højden efter behov */
    object-fit: cover; /* Beskærer billedet, så det fylder området */
    box-shadow: 5px 5px 20px rgba(94, 94, 94, 0.3); /* Blød skygge */

}
#udforsk1{
    position: absolute;
    top: 700px;
    left: 100px;
    z-index: 8;
    color:#f4f4f4;
    line-height: 1.5;
}
#udforsk1 h2{
    margin-bottom: 10px;
}
#udforskknap{
    font-size: 20px;
    text-decoration: none;
    color: #403a3adc;
    background-color: #fff;
    border-radius: 3px;
    display: flex; /* Tilføjer flexbox for at arrangere indholdet på linje */
    align-items: center; /* Centrerer indholdet lodret */
    justify-content: center; /* Centrerer indholdet vandret */
    padding: 10px;
    position: absolute;
    top: 760px;
    left: 100px;
    z-index: 8;
}
#udforskknap img{
    height: 17px;
    margin-left: 4px;
}
#udforskknap:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
#udforsk2{
    position: absolute;
    top: 700px;
    left: 680px;
    z-index: 8;
    color:#f4f4f4;
    line-height: 1.5;
}
#udforsk2 h2{
    margin-bottom: 10px;
}
#udforskknap2{
    font-size: 20px;
    text-decoration: none;
    color: #403a3adc;
    background-color: #fff;
    border-radius: 3px;
    display: flex; /* Tilføjer flexbox for at arrangere indholdet på linje */
    align-items: center; /* Centrerer indholdet lodret */
    justify-content: center; /* Centrerer indholdet vandret */
    padding: 10px;
    position: absolute;
    top: 760px;
    left: 680px;
    z-index: 8;
}
#udforskknap2 img{
    height: 17px;
    margin-left: 4px;
}
#udforskknap2:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
#udforsk3{
    position: absolute;
    top: 1260px;
    left: 100px;
    z-index: 8;
    color:#f4f4f4;
    line-height: 1.5;
}
#udforsk3 h2{
    margin-bottom: 10px;
}
#udforskknap3{
    font-size: 20px;
    text-decoration: none;
    color: #403a3adc;
    background-color: #fff;
    border-radius: 3px;
    display: flex; /* Tilføjer flexbox for at arrangere indholdet på linje */
    align-items: center; /* Centrerer indholdet lodret */
    justify-content: center; /* Centrerer indholdet vandret */
    padding: 10px;
    position: absolute;
    top: 1320px;
    left: 100px;
    z-index: 8;
}
#udforskknap3 img{
    height: 17px;
    margin-left: 4px;
}
#udforskknap3:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
#udforsk4{
    position: absolute;
    top: 1260px;
    left: 680px;
    z-index: 8;
    color:#f4f4f4;
    line-height: 1.5;
}
#udforsk4 h2{
    margin-bottom: 10px;
}
#udforskknap4{
    font-size: 20px;
    text-decoration: none;
    color: #403a3adc;
    background-color: #fff;
    border-radius: 3px;
    display: flex; /* Tilføjer flexbox for at arrangere indholdet på linje */
    align-items: center; /* Centrerer indholdet lodret */
    justify-content: center; /* Centrerer indholdet vandret */
    padding: 10px;
    position: absolute;
    top: 1320px;
    left: 680px;
    z-index: 8;
}
#udforskknap4 img{
    height: 17px;
    margin-left: 4px;
}
#udforskknap4:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
