
#introupcycle{
    font-weight: 500;
    color: #403a3af6;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

#introupcycle h1{
    font-size: 45px;
    margin-bottom: 10px;
}
#introupcycle p{
    font-size: 17px;
    line-height: 1.5;
}
